body {
  //! Assign proper monospace font
  font-family: "Share+Tech+Mono", $font-family-monospace;
}

@include media-breakpoint-up(md) {
  #radio {
    border-radius: 2rem !important;
    border: solid 0.3rem $border-color !important;
  }
}
